# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# IDE
.vscode/*
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
postgres-data/

# Ruff
.ruff_cache
